:root {
  --gray-navbar: #303b49;
  --background: #222734;
  --primary: #9242cc;
  --primary-50: #c9a0e5;
  --inactive: #a0a0a5;
  --white: #ffffff;
  --black: #000000;
  --neutral-gray: #666666;
  --error: #d34a4a;

  /* PALETTE */
  /* Primary */
  --primary-light90: #f4ecfa;
  --primary-light80: #e9d9f5;
  --primary-light60: #d3b3eb;
  --primary-light50: #c8a0e5;
  --primary-light40: #be8ee0;
  --primary-light20: #9d55d1;
  --primary-normal: #9242cc;
  --primary-dark20: #7535a3;
  --primary-dark40: #58267a;
  --primary-dark50: #492166;
  --primary-dark60: #3a1a52;
  --primary-dark80: #1d0d29;
  --primary-dark90: #0f0715;

  /* Secondary */
  --secondary-icy-blue: #a3d9f2;
  --secondary-turquoise: #0fd6bf;
  --secondary-deep-saffron: #ff982a;

  /* Error */
  --error-light75: #f4d2d2;
  --error-light50: #e9a4a4;
  --error-normal: #d34a4a;
  --error-dark50: #6a2525;
  --error-dark75: #351313;

  /* Neutral */
  --neutral0: #000000;
  --neutral20: #333333;
  --neutral40: #666666;
  --neutral50: #7f7f7f;
  --neutral60: #999999;
  --neutral80: #cccccc;
  --neutral100: #ffffff;

  /* BORDER RADIUS */
  --radius-small: 8px;
  --radius-medium: 16px;
  --radius-large: 24px;
  --radius-xlarge: 32px;
  --radius-round: 999px;

  /* SPACING */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 32px;
  --spacing-xxl: 130px;
  --spacing-margem-lateral: 40px;

  /* FONT FAMILY */
  --font-family: 'PlusJakartaSans', sans-serif;

  /* FONT WEIGHTS */
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* FONT SIZES */
  --font-xs: 11px;
  --font-sm: 13px;
  --font-base: 15px;
  --font-lg: 17px;
  --font-xl: 19px;

  /* TEXT STYLES */
  --text-botao-font: 'PlusJakartaSans_500Medium', sans-serif;
  --text-botao-size: 16px;
  --text-botao-line-height: 22px;

  --text-icones-navbar-font: 'PlusJakartaSans_200ExtraLight', sans-serif;
  --text-icones-navbar-size: 12px;
  --text-icones-navbar-line-height: 22px;

  --text-pequeno-font: 'PlusJakartaSans_200ExtraLight', sans-serif;
  --text-pequeno-size: 14px;
  --text-pequeno-line-height: 18px;

  --text-label-font: 'PlusJakartaSans_300Light', sans-serif;
  --text-label-size: 10px;
  --text-label-line-height: 20px;

  --text-filtros-font: 'PlusJakartaSans_400Regular', sans-serif;
  --text-filtros-size: 14px;
  --text-filtros-line-height: 22px;

  --text-cards-calendar-font: 'PlusJakartaSans_500Medium', sans-serif;
  --text-cards-calendar-size: 11px;
  --text-cards-calendar-line-height: 14px;

  /* TITLES */
  --title-h-font: 'PlusJakartaSans_600SemiBold', sans-serif;
  --title-h-size: 24px;

  --title-h1-font: 'PlusJakartaSans_600SemiBold', sans-serif;
  --title-h1-size: 22px;
  --title-h1-line-height: 28px;

  --title-h2-font: 'PlusJakartaSans_600SemiBold', sans-serif;
  --title-h2-size: 18px;
  --title-h2-line-height: 22px;

  --title-h3-font: 'PlusJakartaSans_600SemiBold', sans-serif;
  --title-h3-size: 16px;
  --title-h3-line-height: 20px;

  /* BODY TEXT */
  --body-font: 'PlusJakartaSans_300Light', sans-serif;
  --body-size: 16px;
  --body-line-height: 22px;
}
