@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  /* COLORS */
  --gray-navbar: #303b49;
  --background: #222734;
  --primary: #9242cc;
  --primary-50: #c9a0e5;
  --inactive: #a0a0a5;
  --white: #ffffff;
  --black: #000000;
  --neutral-gray: #666666;
  --error: #d34a4a;

  /* PALETTE */
  --primary-light90: #f4ecfa;
  --primary-light80: #e9d9f5;
  --primary-light60: #d3b3eb;
  --primary-light50: #c8a0e5;
  --primary-light40: #be8ee0;
  --primary-light20: #9d55d1;
  --primary-normal: #9242cc;
  --primary-dark20: #7535a3;
  --primary-dark40: #58267a;
  --primary-dark50: #492166;
  --primary-dark60: #3a1a52;
  --primary-dark80: #1d0d29;
  --primary-dark90: #0f0715;

  /* BORDER RADIUS */
  --radius-small: 8px;
  --radius-medium: 16px;
  --radius-large: 24px;
  --radius-round: 999px;

  /* SPACING */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 32px;
  --spacing-margem-lateral: 40px;

  /* FONT FAMILY */
  --font-family: 'Plus Jakarta Sans', sans-serif;

  /* FONT WEIGHTS */
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* TEXT STYLES */

  /* BUTTON */
  --text-button-size: 16px;
  --text-button-line-height: 22px;
  --text-button-weight: var(--weight-medium);

  /* SMALL TEXT */
  --text-small-size: 14px;
  --text-small-line-height: 18px;
  --text-small-weight: var(--weight-light);

  /* BODY */
  --text-body-size: 16px;
  --text-body-line-height: 22px;
  --text-body-weight: var(--weight-light);

  /* TITLES */
  --title-h1-size: 22px;
  --title-h1-line-height: 28px;
  --title-h1-weight: var(--weight-semibold);

  --title-h2-size: 18px;
  --title-h2-line-height: 22px;
  --title-h2-weight: var(--weight-semibold);

  --title-h3-size: 16px;
  --title-h3-line-height: 20px;
  --title-h3-weight: var(--weight-semibold);
}

/*GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--weight-regular);
  background-color: var(--background);
  color: var(--white);
}
